{{>userHeader}}

<body class="bg-gradient-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2"></h1>
                                        <h1>Verify email</h1>
                                        <p>Please enter the one-time password<br>sent to your email</p>
                                    </div>
                                    <form class="user" id="otpForm">

                                        <div class="form-group">
                                            <input id="otp" type="tel" class="form-control form-control-user" name="otp"
                                                placeholder="Enter OTP..." required>
                                            <span id="otpError" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{{>userFooter}}

<style>
    span {
        font-size: small;
    }
</style>


<script src="/js/axios.min.js"></script>
<script>
    const handleSubmit = async (event) => {
        event.preventDefault();

        const formData = new FormData(event.target);


        try {
            const response = await axios.post('/owner/submitOtp', formData, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            if (response.status === 200) {
                window.location.href = '/owner'
            }
        } catch (error) {

            if (error.response.status == 400) {
                document.getElementById('otpError').textContent = error.response.data.error;
            }
            else {
                alert("something went wrong");
            }

        }
    };

    document.getElementById('otpForm').addEventListener('submit', handleSubmit);
</script>