{{>userHeader}}

<body class="bg-gradient-light">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" id="signupForm">

                                <div class="form-group">
                                    <input id="name" class="form-control form-control-user" type="text"
                                        placeholder="Name" name="name">
                                    <span id="nameError" class="text-danger error-msg"></span>

                                </div>
                                <div class="form-group">
                                    <input id="email" class="form-control form-control-user" type="email"
                                        placeholder="Email Address" name="email">
                                    <span id="emailError" class="text-danger error-msg"></span>
                                </div>



                                <div class="form-group">
                                    <input id="phoneNumber" class="form-control form-control-user" type="tel"
                                        placeholder="Phone No" name="phone">
                                    <span id="phoneError" class="text-danger error-msg"></span>
                                </div>

                                <div class="form-group">
                                    <input id="Password" class="form-control form-control-user" type="password"
                                        placeholder="Password" name="password">
                                    <span id="passwordError" class="text-danger error-msg"></span>
                                </div>


                                <div class="form-group">
                                    <input id="password2" class="form-control form-control-user" type="password"
                                        placeholder="Re-enter Password" name="password2">
                                    <span id="password2Error" class="text-danger error-msg"></span>
                                </div>

                                <input type="checkbox" id="showPass" onclick="showPassword()"><span>Show
                                    Password</span>
                                <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button>

                            </form>

                            <hr>
                            <a class="small" href="/owner">Already have an account? Login!</a>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{>userFooter}}
    <style>
        span {
            font-size: small
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const handleSubmit = async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target)
            resetError()

            try {
                const response = await axios.post('/owner/signup', formData, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                if (response.status === 200) {
                    window.location.href = '/owner/otp'
                }
            } catch (error) {


                if (error.response.status == 400) {

                    const errors = error.response.data.error;
                    Object.keys(errors).forEach((key) => {
                        let element = document.getElementById(key).textContent = errors[key];
                    });
                }
                else if (error.response.status == 401) {

                    document.getElementById('emailError').textContent = error.response.data.error;
                }
                else if (error.response.status == 409) {

                    document.getElementById('accountError').textContent = error.response.data.error;
                }
                else if (error.response.status == 408) {

                    document.getElementById('phoneError').textContent = error.response.data.error;
                }
                else if (error.response.status == 500) {
                    const err = error.response.data.error;
                    alertify.alert(err, function () {
                        alertify.message('OK');
                    });
                }
                else {
                    console.log(error)
                    alertify.alert("Something went wrong", function () {
                        alertify.message('OK');
                    });
                }

            }
        };

        document.getElementById('signupForm').addEventListener('submit', handleSubmit);

        function showPassword() {

            var passwordInput = document.getElementById("Password")
            var showPassCheckbox = document.getElementById("showPass")

            if (showPassCheckbox.checked) {

                passwordInput.type = "text";
            }
            else {

                passwordInput.type = "password";
            }
        }

        function resetError() {
            const errorElements = document.querySelectorAll(".error-msg");
            errorElements.forEach((element) => {
                element.textContent = "";
            });
        }
    </script>

    <script>
        const errorMessage = "{{errorMessage}}";
        if (errorMessage) {
            alertify.alert(errorMessage, function () {
                alertify.message('OK');
            });
        }
    </script>
</body>