{{>userHeader}}


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        {{>adminDashboardSide}}

        <div id="content-wrapper" class="d-flex flex-column col-lg-9 justify-content-center m-5">

            <!-- Main Content -->
            <div id="content">
                <form accept="/owner/addhotel" method="post" enctype="multipart/form-data">
                    <div class="form-row m-4 ">
                        <div class="form-group col-md-6">
                            <label>Name of the Hotel</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Write a short Description (max 10 words)</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                    </div>
                    <div class="form-row m-4">
                        <div class="form-group col-md-6">
                            <label>Starting Price of the Room</label>
                            <input type="tel" class="form-control" name="startingprice">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Starting Price of the Room</label>
                            <input type="text" class="form-control" name="type">
                        </div>
                        {{!-- <div class="form-group col-md-6">
                            <label>Type</label>
                            <select id="inputState" class="form-control" name="type">
                                <option selected>Choose...</option>
                                <option>5 Stare</option>
                                <option>Luxury</option>
                                <option>Mid Range</option>
                                <option>Budget</option>
                            </select>
                        </div> --}}
                    </div>
                    <div class="form-row m-4">
                        <div class="form-group col-md-6">
                            <label>Description....</label>
                            <input type=" tel" class=" form-control" style="height: 150px;" name="description">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Images....</label>
                            <input type="file" class=" form-control" style="height: 150px;" name="image">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    {{>userFooter}}