{{>userHeader}}

<style>
    .image-preview-container {
        display: flex;

        margin-bottom: 20px;

        width: 100px;
        max-width: 400px;
    }

    .image-preview {
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
        margin-left: 2rem;
        border-radius: 5px;
        object-fit: cover;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }
</style>

<body id="page-top">
    <div id="wrapper">
        {{>adminDashboardSide}}

        <div id="content-wrapper" class="d-flex flex-column col-lg-9 justify-content-center m-5">
            <div id="content">
                <form action="/owner/addhotel" method="post" enctype="multipart/form-data">
                    <div class="form-row m-4 ">
                        <div class="form-group col-md-6">
                            <label>Name of the Hotel</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Title (max 10 words)</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                    </div>
                    <div class="form-row m-4">
                        <div class="form-group col-md-6">
                            <label>Starting Price of the Room</label>
                            <input type="tel" class="form-control" name="startingprice">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Category</label>
                            <input type="text" class="form-control" name="category">
                        </div>
                    </div>

                    <div class="form-row m-4">
                        <div class="form-group col-md-6">
                            <label for="description">Description....</label>
                            <textarea id="description" class="form-control" name="description"
                                style="height: 150px; resize: vertical;"></textarea>
                        </div>
                    </div>


                    <div id="images">
                        <input type="file" id="image1" name="image" required>
                        <input type="file" id="image2" name="image" required>
                        <br>
                        <input type="file" id="image3" name="image" required>
                        <input type="file" id="image4" name="image" required>
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div class="image-preview-container">
                    <img id="preview1" class="image-preview" src="#" alt="Image Preview" style="display: none;">
                    <img id="preview2" class="image-preview" src="#" alt="Image Preview" style="display: none;">
                    <img id="preview3" class="image-preview" src="#" alt="Image Preview" style="display: none;">
                    <img id="preview4" class="image-preview" src="#" alt="Image Preview" style="display: none;">
                </div>
            </div>
        </div>
    </div>




    <script>
        // Image preview code
        function previewImage(event, imageNumber) {
            var preview = document.getElementById(`preview${imageNumber}`);
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function () {
                preview.src = reader.result;
                preview.style.display = "block";
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "#";
                preview.style.display = "none";
            }
        }

        // Add event listeners for image previews
        document.getElementById("image1").addEventListener("change", function (event) {
            previewImage(event, 1);
        });

        document.getElementById("image2").addEventListener("change", function (event) {
            previewImage(event, 2);
        });

        document.getElementById("image3").addEventListener("change", function (event) {
            previewImage(event, 3);
        });

        document.getElementById("image4").addEventListener("change", function (event) {
            previewImage(event, 4);
        });
    </script>



    {{>userFooter}}