{{>userHeader}}

<body class="bg-gradient-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9" style="margin-top: 150px;">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" id="loginForm">

                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                aria-describedby="emailHelp" placeholder="Email Address..." name="email"
                                                id="adminEmail" required>
                                            <span id="emailError" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="adminPassword" placeholder="Password" name="password" required>
                                            <span id="passwordError" class="text-danger"></span>
                                        </div>

                                        <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

</body>
{{>userFooter}}
<style>
    span {
        font-size: small
    }
</style>



<script src="/js/axios.min.js"></script>
<script>
    const handleSubmit = async (event) => {
        event.preventDefault();

        const formData = new FormData(event.target);


        try {
            const response = await axios.post('/admin', formData, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            if (response.status === 200) {
                window.location.href = '/admin/dashboard'
            }
        } catch (error) {

            if (error.response.status == 401) {
                document.getElementById('emailError').textContent = error.response.data.error;
            } else if (error.response.status == 400) {
                document.getElementById('passwordError').textContent = error.response.data.error;
            }
            else {
                alert("something went wrong");
            }

        }
    };

    document.getElementById('loginForm').addEventListener('submit', handleSubmit);
</script>