{{>userHeader}}


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/owner/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Users -->
    {{!-- <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/users" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <span>USERS</span>
        </a>

    </li> --}}

    <!-- Nav Item - Admins-->
    {{!-- <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/admins" aria-expanded="true" aria-controls="collapseUtilities">
            Admins
        </a>
    </li> --}}

    <li class="nav-item">
        <a class="nav-link collapsed" href="/owner/hotels" aria-expanded="true" aria-controls="collapsePages">
            <span>Hotels</span>
        </a>
    </li>

    <!-- Nav Item - Rooms -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/owner/rooms" aria-expanded="true">
            <span>Rooms</span></a>
    </li>

</ul>



{{>userFooter}}