{{>userHeader}}




<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
    <a class="navbar-brand" href="/owner/dashboard">
        <i class="fas fa-laugh-wink"></i>
        <span class="ml-2">Owner</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/owner/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/owner/hotels">
                    <span>Hotels</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/owner/rooms">
                    <span>Rooms</span>
                </a>
            </li>

            <li>
                <a href="/owner/profile"><i class="fa-solid fa-user" style="color: #fcfcfc;"></i></a>
            </li>

        </ul>
    </div>
</nav>




{{>userFooter}}