{{>userHeader}}




<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
    <a class="navbar-brand" href="/admin/dashboard">
        <i class="fas fa-laugh-wink"></i>
        <span class="ml-2">Admin</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/owners">
                    <span>Owners</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/hotel/amenities">
                    <span>Hotel Amenities</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/room/amenities">
                    <span>Room Amenities</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/room/cancellation">
                    <span>Cancellation</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/messages">
                    <span>Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/hotel/approval">
                    <span>Hotels for Approval</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/room/approval">
                    <span>Rooms for Approval</span>
                </a>
            </li>
            </li>
        </ul>
    </div>
</nav>




{{>userFooter}}