<div class="site-footer" style="background-color: rgba(0, 0, 0, 0.766); color: aliceblue;">
    <div class="container">
        <!--Footer Links-->
        <div class="footer-top">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3  my-3 footer-links">
                    <ul>
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Rooms</a></li>
                        <li><a href="#">Lunch</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-3 footer-links">
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms &amp; condition</a></li>
                        <li><a href="#">My Account</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-3 footer-links">
                    <ul>
                        <li><a href="#">Request Personal Data</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Orders and Returns</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-3 footer-links">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Lookbook</a></li>
                        <li><a href="#">404</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    a {
        color: aliceblue;
    }
</style>