<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
</head>

<body>
    <div id="calendar"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
            var checkInDates = JSON.parse('{{#unescape}}{{checkInDates}}{{/unescape}}');
            var checkOutDates = JSON.parse('{{#unescape}}{{checkOutDates}}{{/unescape}}');

            var eventData = [];

            for (var i = 0; i < checkInDates.length; i++) {
                var checkInDate = new Date(checkInDates[i]);
                var checkOutDate = moment(checkOutDates[i]).add(1, 'day').toDate(); // Add one day to checkout date


                var event = {
                    title: 'Checked-in',
                    start: checkInDate,
                    end: checkOutDate
                };

                eventData.push(event);
            }

            // Generate the calendar
            $('#calendar').fullCalendar({
                defaultView: 'month',
                events: eventData
            });
        });
    </script>
</body>

</html>