{{>userHeader}}
{{>navBar2}}


<style>
    .message-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 100px;
        /* Adjust the margin-top value to move the form down */
    }

    .container {
        margin-top: 16vh;
    }

    .message-box {
        resize: vertical;
        min-height: 200px;
    }

    .details {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 5px;
        animation: fadeIn 1s ease;
        margin-top: 100px;
        /* Adjust the margin-top value to move the details section down */
    }

    .btn-primary {
        font-size: 14px;
        /* Adjust the font-size to reduce the button size */
        padding: 8px 20px;
        /* Adjust the padding to reduce the button size */
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="ContactForm" class="message-form">
                <div class="form-group">
                    <label for="messageTextarea">Message</label>
                    <textarea class="form-control message-box" id="messageTextarea" rows="8" name="message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div id="reportFields" style="display: none;">
                    <div class="form-group">
                        <label for="hotelNameInput">Hotel Name</label>
                        <input type="text" class="form-control" id="hotelNameInput">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="details">
                <p>Email: stayscout@gmail.com</p>
                <p>Phone: 1234567981</p>
            </div>
        </div>
    </div>
</div>


<script>
    const handleSubmit = async (event) => {
        event.preventDefault();

        const formData = new FormData(event.target);


        try {
            const response = await axios.post('/contact', formData, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            if (response.status === 200) {
                alertify.alert("Submited successfully", function () {
                    alertify.message('OK');
                });
            }
        } catch (error) {
            alertify.alert("Something went wrong please try later", function () {
                alertify.message('OK');
            });
        }

    }

    document.getElementById('ContactForm').addEventListener('submit', handleSubmit);
</script>


{{!-- {{>userSiteFooter}} --}}
{{>userFooter}}