{{>userHeader}}
{{>userNavbar}}


<div class="super_container">
    <!-- Home -->
    <div class="home">
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">

                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(images/index_1.jpg)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_title">A Luxury Stay</div>
                                        <div class="booking_form_container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(/images/index_1.jpg)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_title">A Luxury Stay</div>
                                        <div class="booking_form_container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(/images/index_1.jpg)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_title">A Luxury Stay</div>
                                        <div class="booking_form_container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Hotels -->
    <section class="py-5 bg-light" id="next">
        <div class="container-fluid col-lg-10">
            <div class="row align-items-center ">
                <div class="col-md-12 col-lg-8 ml-auto order-lg-2 position-relative" data-aos="fade-up">
                    <div class="p-3 text-center room-info">
                        <h2>Hotel Name</h2>
                        <span class="text-uppercase letter-spacing-1">Rooms Satrts from 90$ / per
                            night</span>
                    </div>
                    <div class="home">
                        <div class="home_slider_container">
                            <div class="owl-carousel owl-theme home_slider">

                                <!-- Slide -->
                                <div class="slide" style="height: 80vh;">
                                    <div class="background_image" style="background-image:url(/images/index_1.jpg)">
                                    </div>
                                    <div class="home_container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="home_content text-center">
                                                        <div class="home_title">Title</div>
                                                        <div class="booking_form_container">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide" style="height: 80vh;">
                                    <div class="background_image" style="background-image:url(/images/index_1.jpg)">
                                    </div>
                                    <div class="home_container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="home_content text-center">
                                                        <div class="home_title">Title</div>
                                                        <div class="booking_form_container">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3 order-lg-1" data-aos="fade-up">
                    <h2 class="heading">Welcome!</h2>
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                        and
                        Consonantia,
                        there live the blind texts. Separated they live in Bookmarksgrove right at the coast
                        of the
                        Semantics, a large language ocean.</p>

                    <div class="col-md-6 col-lg-8 align-self-end">
                        <a href="/hotel/home" class="btn btn-primary btn-block text-white">Check Availabilty</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid col-lg-10">
            <div class="row align-items-center ">
                <div class="col-md-12 col-lg-8 ml-auto order-lg-2 position-relative" data-aos="fade-up">
                    <div class="p-3 text-center room-info">
                        <h2>Hotel Name</h2>
                        <span class="text-uppercase letter-spacing-1">Rooms Satrts from 90$ / per
                            night</span>
                    </div>
                    <div class="home">
                        <div class="home_slider_container">
                            <div class="owl-carousel owl-theme home_slider">

                                <!-- Slide -->
                                <div class="slide" style="height: 80vh;">
                                    <div class="background_image" style="background-image:url(/images/index_1.jpg)">
                                    </div>
                                    <div class="home_container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="home_content text-center">
                                                        <div class="home_title">Title</div>
                                                        <div class="booking_form_container">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide" style="height: 80vh;">
                                    <div class="background_image" style="background-image:url(/images/index_1.jpg)">
                                    </div>
                                    <div class="home_container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="home_content text-center">
                                                        <div class="home_title">Title</div>
                                                        <div class="booking_form_container">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3 order-lg-1" data-aos="fade-up">
                    <h2 class="heading">Welcome!</h2>
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                        and
                        Consonantia,
                        there live the blind texts. Separated they live in Bookmarksgrove right at the coast
                        of the
                        Semantics, a large language ocean.</p>

                    <div class="col-md-6 col-lg-8 align-self-end">
                        <a href="/hotel/home" class="btn btn-primary btn-block text-white">Check Availabilty</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Hotels -->

    <!-- Booking -->

    <div class="booking">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="booking_title text-center">
                        <h2>Book a room</h2>
                    </div>

                    <!-- Booking Slider -->
                    <div class="booking_slider_container">
                        <div class="owl-carousel owl-theme booking_slider">

                            <!-- Slide -->
                            <div class="booking_item">
                                <div class="background_image" style="background-image:url(images/booking_1.jpg)">
                                </div>
                                <div class="booking_overlay trans_200"></div>
                                <div class="booking_price">$120/Night</div>
                                <div class="booking_link"><a href="booking.html">Family Room</a></div>
                            </div>

                            <!-- Slide -->
                            <div class="booking_item">
                                <div class="background_image" style="background-image:url(images/booking_2.jpg)">
                                </div>
                                <div class="booking_overlay trans_200"></div>
                                <div class="booking_price">$120/Night</div>
                                <div class="booking_link"><a href="booking.html">Deluxe Room</a></div>
                            </div>

                            <!-- Slide -->
                            <div class="booking_item">
                                <div class="background_image" style="background-image:url(images/booking_3.jpg)">
                                </div>
                                <div class="booking_overlay trans_200"></div>
                                <div class="booking_price">$120/Night</div>
                                <div class="booking_link"><a href="booking.html">Single Room</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>userSiteFooter}}
{{>userFooter}}